@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Playball.eot);
  src: local('Playball'), local('Playball-Regular'), url(../fonts/Playball.eot) format('embedded-opentype'), url(../fonts/Playball.woff) format('woff');
}
