.share
  width: 400px;
  @media screen and (max-width: 440px)
    width: auto
  a
    position relative

  a:hover
    text-decoration none

  .icon
    padding: 2px;
    height: 26.8px;
    width: 29.8px;
    line-height: 28.8px;
    margin-right: 3.8px;
    margin-bottom: 3.8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #919191;
    display: inline-block;
    color: #919191;
    font-size: 1.4em;
    border-radius 4px;
    @media screen and (max-width: 440px)
      margin: 5px 3px;

    &:hover
      -webkit-transitionall: 0.25s linear;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      -ms-transition: all 0.25s linear;
      transition: all 0.25s linear;
      background-color: #009CDC;
      color: #FFF;

  span.count
    position: absolute;
    bottom: -1.3em;
    right: 0.4em;
    background-color: white;
    border: 1px solid grey;
    padding: 1px 3.8px;
    line-height: 13.3px;
    color: grey;
    font-size: 0.8em;
    display: none
    border-radius 4px;
